body { padding-top: 70px; }

.header-col {
    color: #FFFFFF;
    width: 100%;
    padding-left: 20px;
    font-size: 20px;
    padding-top:5px;
    padding-bottom: 5px;
    padding-right: 20px;
    margin-left: 0px;
    margin-right: 0px;
}

.level1 {
    background-color: #854F8F;
    margin-top: -20px;
    height: 35px;
}

.level2 {
    background-color: #A279AA;
    height: 35px;
}

.level3 {
    background-color: #CAADDA;
    height: 35px;
}

.chartframebox {
    border: 0px;
    overflow: hidden;
}

.carousel-control.left {
    background-color: #FFFFFF;
    background-image: none;
}

.carousel-control.right {
    background-color: #FFFFFF;
    background-image: none;
}

.carousel-control {
    color: #CCCCCC;

}

.carousel-control:hover {
    color: #C0C0C0;
}

.remove_session {
    color: #FFFFFF;
}

.remove_session:hover {
    color: #854F8F;
}

.footer {
    border-top: solid 1px #CCCCCC;
    margin-top: 100px;
    padding-top: 30px;
}

.logo_analytics {
    background-image: url("/static/images/logo_analytics.png");
    background-repeat: no-repeat;
}

.chart {
    margin-top: 50px;
}

.table-impact-factor .table-impact-factor-header {
    background-color: #F0F0F0;
}